
<!DOCTYPE html>
<html>
  <head>
    <title>Target MSM SIGNIN</title>
    <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="OFTHmXAyT7ji3XC0Na62pPxXZyJsYcvNiCA8NPrl+oDWOQqMU+OS360EueRPpJDP6tM4A5WN8pbneb2faoAh/w==" />

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    

    <link rel="stylesheet" media="all" href="/assets/application-e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855.css" />
  </head>

  <body>

<ul>
  <li>
    <a href="/directors">
      All directors
    </a>
    <ul>
      <li>
        <a href="/directors/youngest">
          Youngest director
        </a>
      </li>
      <li>
        <a href="/directors/eldest">
          Eldest director
        </a>
      </li>
    </ul>
  </li>
  <li>
    <a href="/movies">
      All movies
    </a>
  </li>
  <li>
    <a href="/actors">
      All actors
    </a>
  </li>
</ul>

  </body>
</html>
